<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Doctors Registration Success</title>
<style type="text/css">
    span {
          display: inline-block;

          width: 200px;
         text-align: left;
        }
/*        (birthday,    note,   id) */ 

</style>
</head>
<body>
<div align="center">
 
 <h2>Registration Succeeded!</h2>
    <span>Full name:</span><span th:text="${doctors.name}"></span><br/>
    <span>Degree :</span><span th:text="${doctors.degree}"></span><br/>
    <span>Specialization :</span><span th:text="${doctors.specialization}"></span><br/>
    <span>Last Educational Institute:</span><span th:text="${doctors.lasteduinstitution}"></span><br/>
    <span>Chamber Address :</span><span th:text="${doctors.chamberAddress}"></span><br/>
 <span>District:</span><span th:text="${doctors.district}"></span><br/>

 <h1 th:text="${doctors}">
</div>
</body>
</html>